html body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-text-size-adjust: 100%;
	margin: 0;
	line-height: 1.42857143;
	color: #00008B;
	background-color: #ADD8E6;
	
}

.wrap {
	height: 100%;
	width: 100%;
	position: absolute;
	overflow: scroll;
	top: 0;
	left: 0;
	text-align: center;
}

.container {
	max-height: 340px;
	margin: 0% auto;
	content: " ";
	width: 100%;
	position: relative;
	
}

p {
	font-weight: 900;
}

img {
	border: 2px dotted red;
}

.videowrap {
	padding-bottom: 2cm;
	 	
}